.customers {
    background: white;
    width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 130px 106px 130px;
}

.customers__logo {
    filter: brightness(0);
}