body {
    display: flex;
    justify-content: center;
}

.block {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    text-align: center;
    line-height: 100px;
    width: 200px;
    height: 100px;
    border-radius: 10px;
    background-color: coral;
    animation-name: moving;
    position: relative;
    animation-duration: 2s;
    transition-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes moving {
    from {
        left: 0;
        top: -100px;
    }
    to {
        left: 0px;
        top: calc(50vh - 50px);
    }
}
