* {
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
}

.block {
    padding: 0;
    text-align: center;
    width: 200px;
    height: 100px;
    border-radius: 10px;
    background-color: coral;
    animation-name: moving;
    position: relative;
    animation-duration: 2s;
    transition-timing-function: ease;
    animation-fill-mode: forwards;
}

span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    display: block;
    position: relative;
    top: calc(100% - 57px);
}

@keyframes moving {
    from {
        
        top: -100px;
    }
    to {
        
        top: calc(50vh - 50px);
    }
}