<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
        integrity="sha256-l85OmPOjvil/SOvVt3HnSSjzF1TUMyT9eV0c2BzEGzU=" crossorigin="anonymous" />
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/common.css">
    <link rel="stylesheet" href="styles/header.css">
    <link rel="stylesheet" href="styles/headline.css">
    <link rel="stylesheet" href="styles/footer.css">
    <link rel="stylesheet" href="styles/about.css">
    <link rel="stylesheet" href="styles/customers.css">
    <link rel="stylesheet" href="styles/features.css">
</head>

<body>
    <div class="main-page">
        <div class="main-page__background">
            <header class="header">
                <div class="logo">
                    <img class="logo__image" src="img/header-logo.png" alt="logo">
                    <div class="logo__text">
                        <div class="logo__name">Foundation</div>
                        <div class="logo__description">Startup landing template</div>
                    </div>
                </div>
                <nav class="navigation">
                    <a href="#" class="navigation__item navigation__item_selected">Home</a>
                    <a href="#" class="navigation__item">Stories</a>
                    <a href="#" class="navigation__item">Library</a>
                </nav>
                <img class="header__arrow" src="img\arrow.png" alt="Arrow">
                <button class="action-button">Get Started</button>
            </header>

            <!--Headline-->

            <section class="headline">
                <div class="headline__block-text">
                    <h1 class="headline__title">Build stunning websites & apps.</h1>
                    <p class="headline__description">Create live segments and target the right people for messages based
                        on their behaviors.</p>
                    <div class="headline__action-buttons">
                        <button class="action-button">Get Started</button>
                        <button class="headline__learn-more-button">Learn More</button>
                    </div>
                </div>

                <div>
                    <img class="headline__banner" src="img/headline-main.png" alt="headline banner">
                </div>

            </section>
        </div>

        <!--about-->

        <section class="about">
            <article class="about__article article_one">
                <h4 class="about__article_caption">What is it about?</h4>
                <p class="about__article_text">Building a website for a startup that looks amazing is not a rocket
                    science anymore.</p>
            </article>
            <article class="about__article article_two">
                <h4 class="about__article_caption">Who is it for?</h4>
                <p class="about__article_text">Startups, small companies and teams, entrepreneurs and web developers.
                </p>
            </article>
        </section>

        <!--customers-->

        <section class="customers">
            <img class="customers__logo" src="img/logo-new-york-times.png" alt="The New York Times Logo">
            <img class="customers__logo" src="img/logo-forbes.png" alt="Forbes Logo">
            <img class="customers__logo" src="img/logo-apple.png" alt="Apple Logo">
            <img class="customers__logo" src="img/logo-mashable.png" alt="Mashable Logo">
            <img class="customers__logo" src="img/logo-WSJ.png" alt="WSJ Logo">
            <img class="customers__logo" src="img/logo-google.png" alt="Google Logo">

        </section>

        <!--Features-->

        <section class="features">
<div class="features__container-main">
            <div>
                <h4 class="features__sub-title">Features</h4>
                <h2 class="features__title">Easily find leads and customers</h2>
                <p class="features__description">
                    Send one-off and automated email, push,
                    and in-app messages to people.
                    Create better stories.
                </p>
                <div class="feature__container-blue-title">
                    <img class="features__icon-ouch" src="img/features/icon-ouch.png" alt="icon">
                    <img class="features__new-customers_logo" src="img/features/acquire-new.png" alt="Logo">
                    <h5 class="features__new-customers">Acquire new customers</h5>
                </div>
                <div class="features__coteiner-start-bilding">
                <p class="features__start-bilding">
                    Everything you need to start building – including<br> open-source code,
                    documentation.
                </p>
                    <img class="features__line" src="img/features/Line.png">
                </div>
                <div class="features__footer-link">
                <div class="features__footer-link-block">
                    <img class="features__engage-users" src="img/features/engage-users.png" alt="logo">
                    <span class="features__engage-users-text">Engage users</span>
                </div>
                <div class="features__footer-link-block">
                    <img class="features__link-develop" src="img/features/develop-across.png" alt="logo">
                    <span class="features__link-develop-text">Develop across platforms</span>
                </div>
                </div>
</div>
<div>
    <img class="features__large-image" src="img/features/invision-screen.png" alt="large image">
</div>


</div>
        </section>




        <!--footer-->

        <footer class="footer">
            <div class="footer__main">
                <div class="about_company">
                    <div class="footer_logo">
                        <img class="logo__image" src="img/footer-logo.png" alt="logo">
                        <div class="logo__text">
                            <div class="logo__name">Foundation</div>
                            <div class="logo__description">Startup landing template</div>
                        </div>
                    </div>
                    <p class="footer__decription">Foundation is a website template for startups and small teams. It
                        helps to build a website in no time.</p>
                    <div class="app-download">
                        <a class="app-store_button" href="#"><img src="img/app-store.png" alt="AppStore link"></a>
                        <a class="google-play_button" href="#"><img src="img/google-play.png"
                                alt="Google_Play link"></a>

                    </div>
                </div>
                <div class="additional-navigation">
                    <div class="footer_block1">
                        <a class="additional-navigation-product" href="#"><img src="img/footer-product.png"
                                alt="product-link"></a>
                        <div class="product_description">
                            Acquire Users<br>
                            Content Marketing<br>
                            Website Templates<br>
                            Customer Management<br>
                            Virtual Inbox<br>
                        </div>
                    </div>
                    <div class="footer_block2">
                        <a class="additional-navigation-company" href="#"><img src="img/footer-company.png"
                                alt="company-link"></a>
                        <div class="company_description">
                            About Foundation<br>
                            Brand Guidelines<br>
                            Press Kit<br>
                            Support<br>
                        </div>
                    </div>
                </div>
            </div>





            <div class="footer__bottom_section">
                <div class="footer-navigation">
                    <a href="#" class="footer-navigation__item">Terms</a>
                    <a href="#" class="footer-navigation__item">Privacy</a>
                    <a href="#" class="footer-navigation__item">Lisence</a>
                </div>
                <div class="social-links">
                    <a href="https://twitter.com" target="_blank" class="footer-social-links__twitter"><img
                            src="img/icon-twitter.png" alt="twitter link"></a>
                    <a href="https://www.facebook.com" target="_blank" class="footer-social-links__fb"><img
                            src="img/icon-fb.png" alt="facebook link"></a>
                    <a href="https://www.linkedin.com" target="_blank" class="footer-social-links__linkedin"><img
                            src="img/icon-linkedin.png" alt="linkedin link"></a>
                </div>
            </div>

        </footer>

    </div>
</body>

</html>